body, html {
    background:#F5F7FB;
    margin:0px;
}

.selectArrowRtl {
    left:0;
    right:unset !important;
}

.selectTextRtl {
    padding-right:0 !important;
    padding-left:32px;
}

.searchInput {
    margin-top: -2px !important;
    border-radius: 100px;
    background-color: white !important;
    border: 1px solid #ced4da !important;
    font-size: 16px !important;
    padding: 0px 12px 0px 35px !important;
    width: 200px;
    height: 36px;
    font-family: Roboto !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.searchInputRtl {
    margin-top: -2px !important;
    border-radius: 100px;
    background-color: white !important;
    border: 1px solid #ced4da !important;
    font-size: 16px !important;
    padding: 0px 35px 0px 12px !important;
    width: 200px;
    height: 36px;
    font-family: Roboto !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: right;
}

.searchInput:focus {
    border-color: #80bdff;
}
